# SPDX-License-Identifier: GPL-2.0

config ARCH_HAS_NOLIBC
	bool
	default y if ARM
	default y if ARM64
	default y if LOONGARCH
	default y if M68K
	default y if MIPS
	default y if PPC
	default y if RISCV
	default y if S390
	default y if SPARC
	default y if UML_X86
	default y if X86
