config 64BIT
	bool
	default y

config GENERIC_CSUM
	def_bool y

config GENERIC_ATOMIC64
	bool
	default y if !64BIT

config SECCOMP
	bool
	default n

config GENERIC_HWEIGHT
	def_bool y

config PRINTK_TIME
	bool
	default y
